<% provide(:title, 'About') %>
<div class="main-content">
  <div class="menu">
    <ul>
      <li class="menu-item"><%= link_to "Posts", root_path %></li>
      <li class="menu-item current">About</li>
      <% if signed_in? %>
      <li class="menu-item"><%= link_to "New", new_post_path %></li>
      <li class="menu-item"><%= link_to "Signout", signout_path, method: 'delete'  %></li>
      <% end %>
    </ul>
  </div>
  <div class="posts">
    <p> Hi! I am <b>Lin Jian</b>. You can call me Jian or Leon as well.</p>
    <p> I am currently completing a master degrade in the Chinese University of Hong Kong.
    My major is computer science and engineering. My research focus on practical network coding technique and base on the Hadoop project.</p>
    <p> I am quite familiar with java and Ruby programming. Now I am working on a project that boost degraded read for hadoop on a heterogeneous environment</p>
    <p> I am looking for a job or phd opportunity.</p>
    <p> <b>Contact</b>: linjiansuper@gmail.com </p>
  </div>
</div>
