<% provide(:title, 'Home') %>
<div class="main-content">
  <div class="menu">
    <ul>
      <li class="menu-item current">Posts</li>
      <li class="menu-item"><%= link_to "About", about_path %></li>
      <% if signed_in? %>
      <li class="menu-item"><%= link_to "New", new_post_path %></li>
      <li class="menu-item"><%= link_to "Signout", signout_path, method: 'delete' %></li>
      <% end %>
    </ul>
  </div>
  <%= render 'shared/feed' %>
</div>
