<div id="comment-panel">
<h4 id="comments_count">Comments(<%= @comments.count %>)</h4>
<% if @comments.any? %>
  <ol class="posts" id="comments">
    <%= render partial: 'comment_item', collection: @comments %>
  </ol>
  <%= will_paginate @comments %>
<% end %>
</div>
