a{
  text-decoration: none;
  color: #5C5B5C;
}
a:hover{
  color: #8C8B8C;
}

ol{
  padding: 0;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

#title{
  font-family: MuseoSlab-500;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  width: 750px;
  padding-top: 50px;
  padding-bottom:15px;
  position:fixed;
  display: block;
  background: #f7f7f7;
  z-index: 1;
}

body{
  margin-top: 0px;
  background: #f7f7f7;
}

.container{
  width:748px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  //font-family: Helvetica, Arial, Verdana, sans-serif;

  //left: 260px;
  margin: 0 auto;
  position: relative;
  line-height: 1.5em;
  //position: absolute;
  visibility: visible;
  display: block;
}

.menu{
  z-index: 1;
  width: 750px;
  position:fixed;
  display: block;
  background: #f7f7f7;
  top:80px;
}

.menu ul{
  margin:0;
  padding-top:10px;
  border-bottom: 2px solid #000;
}

.menu ul li{
  display: inline;
  padding: 15px 10px;
  font-weight: bold;
}

.menu ul .current{
  color: #232323;
}

.posts{
  padding-top: 138px;
  list-style-type: none;
  padding-left: 13px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 1px 1px 3px #ddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
}

ul, ol{
  list-style-type: none;
}
.post-info{
  display: block;
  color: #9c9b9c;
  font-size: 0.8em;
}
.post-info a {
  padding: 0em 0.3em;
  color: #333;
  border:solid 1px #8C8B8C;
  text-decoration: none; }
.post-info a:hover, .post-info a:focus {
  padding: 0em 0.3em;
  border:solid 1px black;
  color: black; }


.feed-title{
  margin: 0 0 20px 0;
  font-weight: normal;
  font-size: 25px;
}

.feed-title a{
  color: #333;
}

.feed-title a:hover{
  color: black;
}

.timestamp{
  margin-right: 10px;
}

form{
  width: 700px;
}

label{
  display: block;
  margin-bottom: 3px;
  margin-top: 5px;
  color: #131313;
  font-size: 120%;
}

input, textarea{
}

pre{
  border: 1px solid #BBB;
  background: #EEEEEE;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 3px 5px;
  //display: inline-block;
  overflow: auto;
  margin: 3px 5px;
  display: block;
  width: auto;
}

code{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 90%;
}

.main-content{
  display: block;
}

.comment-info{
  color: #9c9b9c;
  font-size: 0.8em;
}

.comment-info .comment-name{
  color: #101010;
  font-size: 120%;
}
.comment-info .comment-name a{
  color: #3C3B3C;
}
.comment-info .comment-name a:hover{
  color: #1C1B6C;
}

.flash-info{
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
  padding: 8px 15px;
}

#error_explanation ul{
  margin: 10px;
}

#error_explanation{
  color: Red;
  padding: 5px;
  margin: 10px 0;
}

.flash-error{
  color: #B94A48;
}

.flash-success{
  color: #468847;
}

blockquote{
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #EEE;
}
.footer{
  min-height: 100px;
  display: block;
  margin-top: 5px;
  //border-top: 1px solid #CCC;
  
}

.pagination {
  text-align: right;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: black; }
  .pagination a {
    color: #333;
    border:solid 1px #8C8B8C;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border:solid 1px black;
      color: black; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page {
    margin-right: 0em; }
  .pagination .next_page {
    margin-left: 0em; }
