/*
 *= require editor
 */
.post
{
  padding-top: 133px
}

.content
{
  line-height: 1.2em;
  background: white;
  padding: 5px 1px 15px 1px;
  box-shadow: 1px 1px 3px #ddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
}

#post-edit-form
{
  padding-top: 133px;
  padding-left: 1px;
  width: 700px;
}

input, textarea{
  padding: 6px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

label{
  display: block;
  margin-bottom: 3px;
  margin-top: 5px;
  color: #131313;
  font-size: 120%;
}

#editor-button-bar{
  width: 100%;
  padding: 0 1px 0 10px;
  cursor: pointer;
}

.post-button {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 130%;
  font-weight: bold;
  border: 1px solid #888;
  padding: 3px;
  margin-top: 15px;
  cursor: pointer;
  width: 150px;
}

#editor-preview{
  line-height: 1em;
  border: 1px solid #CCC;
  margin-bottom: 15px;
  padding: 6px;
  width: 100%;
}

#comment-panel{
  display: block;
}

#comment-panel h4{
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 12px;
}
#comment-panel li p{
  margin: 8px 0;
}
#new-comment-form{
}
#new-comment-form form{
  width: 600px;
  margin-top: 10px;
}
#new-comment-form form label{
  font-size: 100%;
}
#new-comment-form form input{
  padding: 2px;
}

#new-comment-form h4{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 7px;
  line-height: 1.3;
}
#new-comment-form textarea{
  height:180px;
}

.feed-title-inside{
  font-weight: bold;
  color: #484848;
  font-size: 2.2em;
  margin-bottom: 25px;
  margin-top: 15px;
  line-height: 1em;
}

.comments{
  line-height: 1em;
  list-style-type: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 1px 1px 3px #ddd;
  -webkit-box-shadow: 1px 1px 3px #ddd;
}

.post-info-inside{
  display: block;
  color: #9c9b9c;
  text-align:right;
}
.post-info-inside a {
  padding: 0em 0.3em;
  color: #333;
  border:solid 1px #8C8B8C;
  text-decoration: none; }
.post-info-inside a:hover, .post-info-inside a:focus {
  padding: 0em 0.3em;
  border:solid 1px black;
  color: black; }

