// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-button {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  border: 1px solid #888;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  width: 100px;
  font-size: 120%;
}

input, textarea{
  display: block;
  padding: 8px;
  margin-bottom: 20px;
  width: 300px;
}
